[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = grot: junk. stuff.
[access "refs/*"]
	owner = group user/John Levon (jlevon)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/John Levon (jlevon)
	label-Verified = -1..+1 group user/John Levon (jlevon)
	push = group user/John Levon (jlevon)
	read = group user/John Levon (jlevon)
	rebase = group user/John Levon (jlevon)
	removeReviewer = group user/John Levon (jlevon)
	submit = group user/John Levon (jlevon)
[access "refs/heads/*"]
	create = group user/John Levon (jlevon)
	push = +force group user/John Levon (jlevon)
	pushMerge = group user/John Levon (jlevon)
	read = group user/John Levon (jlevon)
[access "refs/tags/*"]
	push = group user/John Levon (jlevon)
	push = +force group user/John Levon (jlevon)
